<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:name=".App"
        android:appComponentFactory="com.donald.dps.lib.DelayProviderFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DynamicProviderSwitch"
        tools:replace="android:appComponentFactory">
        <provider
            android:name=".MyDerectContentProvider"
            android:authorities="Derect.${applicationId}"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".MyDelayContentProvider"
            android:authorities="fa.${applicationId}"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>