<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.donald.dps.demo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:appComponentFactory="com.donald.dps.demo.HookAppComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DynamicProviderSwitch"
        tools:replace="android:appComponentFactory">
        <provider
            android:name=".OkProvider"
            android:authorities="${applicationId}.a"
            android:exported="false" />

        <provider
            android:name=".NotFoundProvider1"
            android:authorities="${applicationId}.a1"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".NotFoundProvider2"
            android:authorities="${applicationId}.a2"
            android:enabled="false"
            android:exported="false" />
        <provider
            android:name=".NotFoundProvider3"
            android:authorities="${applicationId}.a3"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>